
# <span style="color:red">@@@@@@@@@@@@@Ayad@@@@@@@@@@@@@</span>

# <span style="color:blue">==== Data ====</span>

In [1]:
import pandas as pd

# read file into pandas using a relative path

emails = pd.read_table( r'D:\Projects\NLP\E-mails classification\sms.tsv',
                        names=['label', 'message']
                        )

# examine the shape
emails.shape

(5572, 2)

In [2]:
# examine the first 10 rows
emails.head(10)

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...
5  spam  FreeMsg Hey there darling it's been 3 week's n...
6   ham  Even my brother is not like to speak with me. ...
7   ham  As per your request 'Melle Melle (Oru Minnamin...
8  spam  WINNER!! As a valued network customer you have...
9  spam  Had your mobile 11 months or more? U R entitle...

In [4]:
# examine the class distribution
emails.label.value_counts()

ham     4825
spam     747
Name: label, dtype: int64

In [5]:
# convert label to a numerical variable
emails['label_num'] = emails.label.map({'ham':0, 'spam':1})
emails.shape

# check that the conversion worked
emails.head(10)

  label                                            message  label_num
0   ham  Go until jurong point, crazy.. Available only ...          0
1   ham                      Ok lar... Joking wif u oni...          0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...          1
3   ham  U dun say so early hor... U c already then say...          0
4   ham  Nah I don't think he goes to usf, he lives aro...          0
5  spam  FreeMsg Hey there darling it's been 3 week's n...          1
6   ham  Even my brother is not like to speak with me. ...          0
7   ham  As per your request 'Melle Melle (Oru Minnamin...          0
8  spam  WINNER!! As a valued network customer you have...          1
9  spam  Had your mobile 11 months or more? U R entitle...          1

In [38]:
X = emails.message
y = emails.label_num
print(X.shape)
print(y.shape)

(5572,)
(5572,)

In [39]:
# split X and y into training and testing sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

print(X_train.shape)
print(y_train.shape)

print(X_test.shape)
print(y_test.shape)

(4179,)
(4179,)
(1393,)
(1393,)

# <span style="color:blue">==== Sparse Matrix Building ====</span>

In [40]:
from sklearn.feature_extraction.text import CountVectorizer

vect = CountVectorizer()

In [41]:
Xsparse = vect.fit_transform(X_train)

In [42]:
# examine the document-term matrix


Xsparse = pd.DataFrame(Xsparse.toarray(), columns=vect.get_feature_names())

Xsparse

,00,000,008704050406,0121,01223585236,01223585334,0125698789,02,0207,02072069400,...,zed,zeros,zhong,zindgi,zoe,zoom,zouk,zyada,èn,〨ud
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4174,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4175,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4176,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4177,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4178,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [43]:
# transform testing data (using fitted vocabulary) into a document-term matrix

testd = vect.transform(X_test)

testd = pd.DataFrame(testd.toarray(), columns=vect.get_feature_names())

# <span style="color:blue">==== Traning and Evaluation ====</span>

In [44]:
# import and instantiate a Multinomial Naive Bayes model

from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()

In [51]:
Xsparse.shape

(4179, 7456)

In [52]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(nb, Xsparse, y_train, cv=7, verbose=3)
scores.mean()

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV] END ................................ score: (test=0.972) total time=   0.6s

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.7s remaining:    0.0s

[CV] END ................................ score: (test=0.978) total time=   0.7s

[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    1.5s remaining:    0.0s

[CV] END ................................ score: (test=0.983) total time=   0.6s
[CV] END ................................ score: (test=0.980) total time=   0.6s
[CV] END ................................ score: (test=0.987) total time=   0.7s
[CV] END ................................ score: (test=0.977) total time=   0.6s
[CV] END ................................ score: (test=0.978) total time=   0.6s

[Parallel(n_jobs=1)]: Done   7 out of   7 | elapsed:    5.3s finished

0.9791816223977028

In [54]:
# train the model using X_train_dtm (timing it with an IPython "magic command")
nb.fit(Xsparse, y_train)

# make class predictions for X_test_dtm
y_pred_class = nb.predict(testd)

In [64]:
# calculate accuracy of class predictions
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, roc_auc_score

accuracy_score(y_test, y_pred_class)

0.9885139985642498

In [65]:
# print the confusion matrix

confusion_matrix(y_test, y_pred_class)

array([[1203,    5],
       [  11,  174]], dtype=int64)

In [66]:
print('precision_score: ' , precision_score(y_test, y_pred_class))
print('recall_score: ' , recall_score(y_test, y_pred_class))

precision_score:  0.9720670391061452
recall_score:  0.9405405405405406

In [67]:
y_pred_prob = nb.predict_proba(testd)
y_pred_prob.shape

(1393, 2)

In [68]:
metrics.roc_auc_score(y_test, y_pred_prob[:,1])

0.9866431000536962

# <span style="color:red">@@@@@@@@@@@@@Ayad@@@@@@@@@@@@@</span>